<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Web Services</title>
    <link rel="stylesheet" href="public/css/bulma.css">
    <link rel="stylesheet" href="public/css/master.css">
    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>
  <body>
    <nav class="navbar">
  <div class="navbar-brand">
    <a class="navbar-item" href="www.github.com/StuffDevelopers">
      <img src="https://avatars0.githubusercontent.com/u/22659358?v=4&s=200" alt="Startup :3" width="28" height="28">
      <p class="pacifico">StuffDevelopers</p>
    </a>

    <div class="navbar-burger">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>
</nav>
  </body>
</html>
